<h1>Login</h1>
<form action='./users/login' method='post'>
  Email: <input type='email' name='email' id='email' />
  Password: <input type='password' name='password' id='password' />
  <input type='submit' value='Login' />
</form>

<h1>Login with GitHub</h1>
<a href="./users/register-github">Login with GitHub</a>

<h2>Registration for a new user.</h2>
<button onclick="location.href='./register'">Go to registration</button>