<h1>Profile</h1>

{{#if _doc.isGithub }}
<div>Connected with Github!</div>
{{/if}}

<div>Welcome {{{ _doc.first_name }}}!</div>

<form action='./users/logout' method='post'>
  <input type='submit' value='Logout' />
</form>